body {
  margin: 0;
  padding: 0;
  background-color: #1a1a1a;
  color: white;
  font-family: "Times New Roman", serif;
  text-align: center;
}

h1 {
  margin-top: 30px;
  font-size: 36px;
}

section {
  margin: 40px 0;
}

h2 {
  font-size: 26px;
  margin-bottom: 15px;
}

.highlight {
  background-color: yellow;
  color: black;
  font-weight: bold;
}

p,
li,
label {
  font-size: 16px;
}

ul {
  list-style: disc;
  padding: 0;
}

li {
  margin: 5px 0;
}

button {
  margin-top: 10px;
  padding: 6px 14px;
  font-size: 14px;
  border: 2px solid gray;
  cursor: pointer;
  border-radius: 4px;
  background-color: rgb(108, 108, 208);
  font-weight: bold;
  color: #fff;
}

input {
  padding: 6px;
  width: 200px;
  border-radius: 2px;
}
