/* styles.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #121212;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: #1e1e1e;
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  text-align: center;
}

h1 {
  margin-bottom: 20px;
  font-size: 30px;
  color: rgb(43, 178, 215);
  width: 55%;
  margin: 10px auto;
  margin-bottom: 20px;
  border-radius: 8px;
}

.input-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

input[type="text"] {
  width: 58%;
  padding: 10px;
  background-color: #333333;
  border: none;
  border-radius: 6px;
  color: #fff;
  outline: none;
  font-size: larger;
}

button {
  width: 40%;
  padding: 10px;
  background-color: #6200ea;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: larger;
}

button:hover {
  background-color: #3700b3;
}

#weather-info {
  margin-top: 20px;
}

.hidden {
  display: none;
}

#error-message {
  color: #ff5722;
  margin-top: 20px;
}

.display-msg {
  background-color: #272626;
  padding: 20px;
  border-radius: 10px;
  margin: 10px auto;
  width: 60%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  text-align: left;
}

#error-message {
  color: rgb(245, 176, 176);
  font-size: x-large;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin: 0 auto;
  text-align: center;
}
